<ol class="inventory-list">
  {{#each sections as |section sid|}}
  <li class="inventory-header flexrow">
    <h3 class="item-name flexrow">{{section.label}}</h3>

    {{#if section.hasActions}}
    <div class="item-detail item-uses">{{stringify "Uses"}}</div>
    <div class="item-detail item-action">{{stringify "Usage"}}</div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{#if isDepleted}}depleted{{/if}}">
      <div class="item-name flexrow rollable">
        <div class="item-image" style="background-image: url({{item.img}})"></div>
        <h4>{{item.name}}</h4>
      </div>

      {{#if section.hasActions}}
      <div class="item-detail item-uses">
        {{#if item.isOnCooldown}}
        <a class="item-recharge rollable">{{item.labels.recharge}}</a>
        {{else if item.data.recharge.value}}
        {{stringify "Charged"}}

        {{else if item.hasUses}}
        <input type="text" value="{{item.data.uses.value}}" placeholder="0" />/ {{item.data.uses.max}}
        {{/if}}
      </div>

      <div class="item-detail item-action">
        {{#if item.data.activation.type }}
        {{item.labels.activation}}
        {{/if}}
      </div>

      {{else if section.isClass}}
      <div class="item-detail player-class">
        {{item.data.subclass}}
      </div>
      <div class="item-detail item-action">
        Level {{item.data.levels}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>
