<ol class="item-list">
	{{#each skillList as |skill|}}
		{{#if skill.isSpecialization}}
			<li class="specialization-header"> {{skill.name}} </li>
		{{else}}
			<li class="item itemV2 {{#if skill.data.properties.special}}specialization{{/if}}" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
				<div class="item-image" style="background-image: url('{{skill.img}}')"></div>
				{{#if ../data.flags.locked}}
					<div class="item-name skill-name rollable"  title="{{skill.name}}">{{skill.name}}</div>
					<div class="item-score">{{skill.data.value}}</div>
					<div class="item-controls">
					</div>
				{{else}}
					<div class="item-name">
						<input class="skill-name" type="text" value="{{skill.name}}" data-dtype="String">
					</div>
					<div class="item-score">
						<input class="npc-skill-score" type="text" value="{{skill.data.value}}" data-dtype="Number">
					</div>
					<div class="item-controls">
					</div>
				{{/if}}
			</li>
		{{/if}}
	{{/each}}
</ol>
