<div class="combat-pane">
  <div class="weapon-list melee">
    <div class="section-header">
      <span>{{localize 'CoC7.MeleeWeapons'}}</span>
    </div>
    <ol>
      {{#each meleeWpn as |weapon id|}}
        <li class="weapon-row item weapon {{#unless weapon.skillSet}}error{{/unless}}" data-item-id="{{weapon._id}}" title="{{#unless weapon.skillSet}}{{localize 'CoC7.NoSkill'}}{{/unless}}">
          <div class="expand-arrow show-detail"></div>
          <div class="weapon-image" style="background-image: url('{{weapon.img}}')"></div>
          <div class="weapon-name {{#if weapon.skillSet}}rollable{{else}}item-edit{{/if}}">{{weapon.name}}</div>
          <div class="weapon-range">
            {{#each weapon.data.range as |range key|}}
              {{#if range.damage}}
                <div class="weapon-damage" data-range="{{key}}">
                  <a class="roll" data-mode="roll" title="{{range.value}}" data-formula="{{range.damage}}">{{range.damage}}</a>
                </div>
              {{/if}}
            {{/each}}
          </div>
          <div class="weapon-control">
            {{#if weapon.data.properties.addb}}<span class="tag" title="Add DB">{{localize 'CoC7.WeaponAddb'}}</span>{{/if}}
            {{#if weapon.data.properties.ahdb}}<span class="tag" title="Add DB">{{localize 'CoC7.WeaponAhdb'}}</span>{{/if}}
          </div>
          <div class="item-controls">
          </div>
        </li>
      {{/each}}
    </ol>
  </div>


  <div class="weapon-list range">
    <div class="section-header">
      <span>{{localize 'CoC7.RangeWeapons'}}</span>
    </div>
      <ol>
        {{#each rangeWpn as |weapon id|}}
          <li class="weapon-row item weapon {{#unless weapon.skillSet}}error{{/unless}}" data-item-id="{{weapon._id}}" title="{{#unless weapon.skillSet}}{{localize 'CoC7.NoSkill'}}{{/unless}}">
            <div class="expand-arrow show-detail"></div>
            <div class="weapon-image" style="background-image: url('{{weapon.img}}')"></div>
            <div class="weapon-name {{#if weapon.skillSet}}rollable{{else}}item-edit{{/if}}">{{weapon.name}}</div>
            <div class="weapon-range">
              {{#each weapon.data.range as |range key|}}
                {{#if range.damage}}
                  <div class="weapon-damage" data-range="{{key}}">
                    <a class="roll" data-mode="roll" title="{{range.value}}" data-formula="{{range.damage}}">{{range.damage}}</a>
                  </div>
                {{/if}}
              {{/each}}
            </div>
            <div class="weapon-controls">
              <div class="ammo">
                <span class="tag">{{weapon.data.ammo}}</span>
              </div>
              <div class="control">
              </div>
            </div>
            <div class="item-controls">
            </div>
          </li>
        {{/each}}
    </ol>
  </div>

  <div class="weapon-list maneuver">

  </div>

  <div class="skill-list melee">
    <div class="section-header skill">
      <span>{{localize 'CoC7.MeleeSkills'}}</span>
      {{#unless data.flags.locked}}
        <div class="add-item" title="{{localize 'CoC7.AddSkill'}}" data-type="skill">
        </div>
      {{/unless}}
    </div>
    <ol class="item-list skill melee">
      {{#each meleeSkills as |skill|}}
        <li class="skill-tag item itemV2" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
          <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
          {{#if ../data.flags.locked}}
            <div class="item-name skill-name rollable"  title="{{skill.name}}">{{skill.name}}</div>
            <div class="item-score">{{skill.data.value}}</div>
            <div class="item-controls">
            </div>
          {{else}}
            <div class="item-name">
              <input class="skill-name" type="text" value="{{skill.name}}" data-dtype="String">
            </div>
            <div class="item-score">
              <input class="npc-skill-score" type="text" value="{{skill.data.value}}" data-dtype="Number">
            </div>
            <div class="item-controls">
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </div>

  <div class="skill-list range">
    <div class="section-header skill">
      <span>{{localize 'CoC7.RangeSkills'}}</span>
    </div>
    <ol class="item-list skill range">
      {{#each rangeSkills as |skill|}}
        <li class="skill-tag item itemV2" data-skill-id="{{skill._id}}" data-item-id="{{skill._id}}">
          <div class="item-image" style="background-image: url('{{skill.img}}')"></div>
          {{#if ../data.flags.locked}}
            <div class="item-name skill-name rollable"  title="{{skill.name}}">{{skill.name}}</div>
            <div class="item-score">{{skill.data.value}}</div>
            <div class="item-controls">
            </div>
          {{else}}
            <div class="item-name">
              <input class="skill-name" type="text" value="{{skill.name}}" data-dtype="String">
            </div>
            <div class="item-score">
              <input class="npc-skill-score" type="text" value="{{skill.data.value}}" data-dtype="Number">
            </div>
            <div class="item-controls">
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>
